# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
_frontend_out.txt
_frontend_err.txt
_server_out.txt
_server_err.txt
_backend_out.txt
_backend_err.txt
.env
.env.local
.env.production.local
backups/
server/data/*.sqlite
*.local.json
